---
---

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Figtree:wght@300;400;500&display=swap');

@import "{{ site.theme }}";

h1.header, h1.header a {
  font-family: 'Righteous', sans-serif !important;
  font-weight: 400 !important;
  font-size: 34px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', sans-serif !important;
  font-weight: 400 !important;
}

body, p, a, li, p.header, header p, header a {
  font-family: 'Figtree', sans-serif !important;
  font-weight: 300 !important;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

section h2, section h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

section {
  padding-top: 20px;
}
